    <p>This information is based on Australian and New Zealand Standard Industrial Classification (ANZSIC), 2006 (Revision 1.0).  You should always verify that this is the latest information at the Australian Bureau of Statistics.<p>
    <h3><%= @industry_class.code %> <%= @industry_class.description %></h3>
    <dl class="dl-horizontal">
      <dt>Code</dt>
      <dd><%= @industry_class.code %></dd>
      <dt>Description</dt>
      <dd><%= @industry_class.description %></dd>
      <dt>Group code</dt>
      <dd><%= @industry_class.group_code %></dd>
      <dt>Group</dt>
      <dd><%= @industry_class.group_id %></dd>
      <dt>Primary Activities</dt>
      <% @primary_activities.each do |primary_activity| %>
        <dd><%= primary_activity.description %></dd>
      <% end %>
    </dl>