<h1>Subdivision</h1>

<p>
  <b>Code</b><br>
  <%= @subdivision.code %>
</p>

<p>
  <b>Description</b><br>
  <%= @subdivision.description %>
</p>

<p>
  <b>Division code</b><br>
  <%= @subdivision.division_code %>
</p>

<p>
  <b>Division</b><br>
  <%= @subdivision.division_id %>
</p>

<div class="form-actions">
  <%= link_to 'Back', subdivisions_path, :class => 'btn'  %>
  <%= link_to 'Edit', edit_subdivision_path(@subdivision), :class => 'btn' %>
  <%= link_to 'Delete', subdivision_path(@subdivision), :method => 'delete', :confirm => 'Are you sure?', :class => 'btn btn-danger' %>
</div>
