<h1>Division</h1>

<p>
  <b>Code</b><br>
  <%= @division.code %>
</p>

<p>
  <b>Description</b><br>
  <%= @division.description %>
</p>

<div class="form-actions">
  <%= link_to 'Back', divisions_path, :class => 'btn'  %>
  <%= link_to 'Edit', edit_division_path(@division), :class => 'btn' %>
  <%= link_to 'Delete', division_path(@division), :method => 'delete', :confirm => 'Are you sure?', :class => 'btn btn-danger' %>
</div>
