<h1>Listing industry_codes</h1>

<table>
  <tr>
    <th>Division code</th>
    <th>Division description</th>
    <th>Subdivision code</th>
    <th>Subdivision description</th>
    <th>Group code</th>
    <th>Group description</th>
    <th>Class code</th>
    <th>Class description</th>
    <th>Primary activity</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @industry_codes.each do |industry_code| %>
  <tr>
    <td><%= industry_code.division_code %></td>
    <td><%= industry_code.division_description %></td>
    <td><%= industry_code.subdivision_code %></td>
    <td><%= industry_code.subdivision_description %></td>
    <td><%= industry_code.group_code %></td>
    <td><%= industry_code.group_description %></td>
    <td><%= industry_code.class_code %></td>
    <td><%= industry_code.class_description %></td>
    <td><%= industry_code.primary_activity %></td>
    <td><%= link_to 'Show', industry_code %></td>
    <td><%= link_to 'Edit', edit_industry_code_path(industry_code) %></td>
    <td><%= link_to 'Destroy', industry_code, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Industry code', new_industry_code_path %>
